    /* Use your own code or past solution for Great Idea Web Page CSS here! */
    
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }
    
    body {
        line-height: 1;
    }
    
    ol,
    ul {
        list-style: none;
    }
    
    blockquote,
    q {
        quotes: none;
    }
    
    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    /* Set every element's box-sizing to border-box */
    
    * {
        box-sizing: border-box;
    }
    
    html,
    body {
        height: 100%;
        font-family: 'Titillium Web', sans-serif;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: 'Bangers', cursive;
        letter-spacing: 1px;
        margin-bottom: 15px;
    }
    /* Copy and paste your work from yesterday here and start to refactor into flexbox */
    
    .site-container {
        max-width: 100%;
        margin: 0 auto;
        padding: 20px 1.25%;
    }
    
    .container {
        display: flex;
    }
    
    nav {
        width: 100%;
    }
    
    .navigation {
        text-align: center;
        word-spacing: 180px;
        width: 80%
    }
    
    nav a {
        font-size: 1.3em;
        color: grey;
        text-decoration: none;
    }
    
    .logo {
        width: 13%;
        float: right;
        margin: -2% auto;
    }
    
    .innovate-container {
        margin-top: 100px;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    
    .inn {
        font-size: 85px;
        width: 30%;
        text-align: center;
    }
    
    .snippet {
        width: 30%;
        height: 550px;
    }
    
    .middle {
        text-align: center;
        margin: 0 auto;
    }
    
    .top-middle {
        display: flex;
        align-content: center;
        justify-content: center;
    }
    
    #features {
        margin-top: 1%;
        width: 35%;
        text-align: left;
    }
    
    #about {
        margin-top: 1%;
        text-align: left;
        width: 35%;
    }
    
    .middle-img {
        margin-top: 1%;
        vertical-align: middle;
        width: 70%;
        height: 30vh;
    }
    
    .bottom-middle {
        display: flex;
        flex-direction: row;
        align-content: space-between;
        justify-content: center;
    }
    
    #services {
        margin-top: 1%;
        width: 24%;
        text-align: left;
    }
    
    #product {
        margin-top: 1%;
        width: 23%;
        text-align: left;
    }
    
    #vision {
        margin-top: 1%;
        width: 23%;
        text-align: left;
    }
    
    #contact {
        margin-top: 20px;
        text-align: left;
    }
    
    .copyright {
        text-align: center;
        padding: 5%
    }
    
    button {
        background-color: rgb(226, 226, 226);
        border: 1px solid black;
        color: rgb(7, 7, 7);
        width: 200px;
        height: 35px;
        text-align: center;
        vertical-align: middle;
        text-decoration: none;
        font-size: 16px;
        border-radius: 5%;
    }
    
    button a {
        text-decoration: none;
        color: black;
    }
    /* Media qeuries here */
    
    @media(max-width: 800px) {
        .navigation {
            display: flex;
            justify-content: center;
            width: 100%;
            justify-content: space-between;
            position: relative;
            top: 90px;
        }
        .logo-div {
            display: flex;
            justify-content: top;
            position: relative;
            top: -145;
            width: 100%;
        }
        .snippet {
            display: none;
        }
        .inn {
            text-align: center;
        }
    }
    
    @media(max-width: 500px) {
        .navigation {
            display: flex;
            flex-direction: column;
            position: relative;
            top: 30px;
        }
        nav a {
            border-bottom: solid grey;
            height: 20px;
            padding: 30px;
            vertical-align: middle;
            position: relative;
        }
        .logo-div {
            display: flex;
            justify-content: top;
            position: relative;
            top: -375px;
            height: 30px;
            border-bottom: solid grey;
        }
        .logo {
            width: 125px;
            height: 25px;
        }
        .inn {
            position: relative;
            right: 80px;
        }
        .top-middle {
            display: flex;
            flex-direction: column;
        }
        #features,
        #about,
        #services,
        #product,
        #vision {
            width: 100%;
            padding: 20px;
        }
        .middle-img {
            width: 92%;
            height: 50%
        }
        .bottom-middle {
            display: flex;
            flex-direction: column;
        }
    }